@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

body {
    background: #ffffff url("../img/bg.png") no-repeat;
    width: 1920px;
    opacity: 0.5;
}

#wrapper{
    background-color: #a0e5e2;
    height: 1430px;
    margin: 230px auto;
    width: 1024px;

}

.block-upr, .block-dwn {
    background-color: rgba(255, 0, 0, 0.43);
}

    /*content-boxes*/

.content-box-1 {
    background-color: grey;
    height: 650px;
    margin: 5px;
    width: 70%;
}
.content-box-2 {
    background-color: grey;
    margin: 5px;
    height: 650px;
    width: 27%;
}

.content-box-3 {
    background-color: grey;
    margin: 5px;
    height: 627px;
    width: 70%;
}

.content-box-4 {
    background-color: grey;
    margin: 5px;
    height: 627px;
    width: 27%;
}


.column {
    display: inline-block;
    vertical-align: bottom
}

    /*content-boxes*/

.caption {
    font-family: 'Pathway Gothic One', sans-serif;   
    font-size: 31.6px;
    text-transform: uppercase;
    margin: 115px 0 0 56px;
    color: #263555;
}

.box3 {
    margin-left: 55px;
    margin-top: 48px;
}

.article-photo {
    margin: 53px 25px 18px 56px;
    float: left;
    }

.article-box-1 {
    display: block;
    margin: 13px 20px 10px 56px;
}

.selected-text {
    font-size: 15px;
    color:#344260;
    margin-top: 53px;
}
.content-box-3 .selected-text {
    background-color: yellow;
    margin:70px 20px 0 56px;
}

.list-box1 {
    float:left;
    margin-left: 80px;
    margin-top: 20px;
}
.list-box2 {
    margin-right: 250px;
    margin-top: 20px;
    float: right; 
}

li{
    margin-bottom: 24px;
    list-style-image: url(../img/arrow.png);
}

.content-box-2 h1 {
    margin-left: 16px;
    margin-bottom: 50px;
}

.rt-upper-col {
    margin: 5px 0 0 15px;
    width:240px;
    height: 140px;
}

.circle {
    float: left;
    margin-top: 2px;
    background-color: #38afe5 ;
    height: 28px;
    width: 28px;
    display:block;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    -khtml-border-radius:50px;
    border: 1px solid #77a7bd;
    text-align: center;
    font-size: 16px; color:white;
}

.circle p {
    margin-top:5px;
}

.rt-col-box h2 {
    margin: 9px 39px;
}

.rt-col-box p {
    margin: 0 39px 0 39px;
}

.content-box-4 h1 {
    margin-left: 16px;
    margin-top: 48px;
}
.line {
    margin-left: 62px;
    margin-right: 62px;
    height: 1px;
    background-color: #dedbdb;

}
