.grey {
    background-color: grey;
    max-width: 768px;
    min-width: 480px;
    margin: 0 auto;
 
}

.row {
    display: flex;
    flex-flow: row wrap;
    min-height:200px;
}

.content {
    height: 20vh;
    background-color:yellow;
    margin:10px;
}
.pink {
    background-color: pink;
}
.green {
    background-color: green;
}
.beige {
    margin-left: 27px;
    background-color: rgb(231, 231, 137);
}



[class*="col-"] { padding:0 0.4rem; }

