.header-title {
    font-family: 'Lato';
    font-size: 220px;
    font-weight: normal;
}
.header-text-top{
    font-size: 400px;
    color:#e8e8e8;
    z-index: -5;
    top:-6;
    left:9%;
    position: absolute;
}
.header-text__bottom {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 36px;
}
.heder-center__bottom {
    font-size: 18px;
    font-family: 'Lato', sans-serif ;
    background-color: #0023ff;
    width:215px;
    height: 50px;
    border-radius: 10px;
}
