.container
    .center-block
        .row.row-header
            .col-5
                .nav-left
                    ul.nav-header
                        li.menu_item
                            a(href="") home
                        li.menu_item
                            a(href="") about
                        li.menu_item
                            a(href="") gallery
            .col-1
                .logo
                    p Journey
            .col-5
                .nav-right
                    ul.nav-header
                        li.menu_item
                            a(href="") tours
                        li.menu_item
                            a(href="") blog
                        li.menu_item
                            a(href="") contacts
