.container
    .center-block
        .row.row-header
            .col-5
                .nav-left
                    ul.nav-header
                        li.menu_item
                            a(href="") home
                        li.menu_item
                            a(href="") about
                            ul.submenu
                                li.submenu_item
                                    a(href="") agency
                                li.submenu_item
                                    a(href="") news
                                li.submenu_item
                                    a(href="") team
                        li.menu_item
                            a(href="") gallery
            .col-1
                .logo
                    p Journey
            .col-5
                .nav-right
                    ul.nav-header
                        li.menu_item
                            a(href="") tours
                        li.menu_item
                            a(href="") blog
                        li.menu_item
                            a(href="") contacts
    .center-block.main
            .main-grid
                .grid-item
                    h3 our gallery
                .grid-item
                .grid-item
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/waterfall.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/Thailand.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/palm.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/Rome.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/island.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                            img(src="/img/img_gallery/Arctic.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/Kremlin.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/Paris.png", alt="")
                .grid-item
                    .gallery-item
                     a(href="")
                        img(src="/img/img_gallery/mountain.png", alt="")
                
                 
               
