#wrapper {
    margin:240px auto;
    width: 482px;
    height: 1200px;
    background-color: rgba(137, 43, 226, 0.35); 
}

.caption {
    font-size: 20px;
    text-transform: uppercase;
    color: #556481;
    background-color: rgba(175, 255, 47, 0.53);
}
.banner {
    display: block;
    margin: 0 auto;
}

.selected-text {
    font-size: 15px;
    color:#344260;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-box-1 {
    background-color: greenyellow;
    padding: 20px 0 10px 35px;
}

.content-box-2 {
    padding: 5px 60px 20px 50px;
}
