@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Dorsa');

ul {
    list-style: none;
}

a, h1, .cpt {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
}
body {
    background: url("../img/bg.png") no-repeat;
}

#wrapper {
    margin: 0 auto;
    width: 75.5%;
    height: 100%;
}
header{
    height: 240px;
}
#logo a{
    line-height: 139px;
    display: block;
    width:140px;
    height: 140px;  
    background-color: #ffffff;
    border-radius: 70px;
    font-family: 'Dorsa', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:#263555;
    font-size: 59px;
    position: relative;
    bottom: 51px;
    left: 2px;
}
#logo a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.block-menu {
    position: relative;
    top: 102px;
    left: 71px;
}

header ul {
    margin-left: 27px;
}
header ul {
    display: flex;
    justify-content: space-between;
    width: 81.5%;
}

header li a{
    font-size: 29px;
}

.menu_item > a,
.submenu_item > a {
  display: block;
  text-decoration: none;
  line-height: 30px;
}

.submenu_item>a { 
    width: 51px;
    height: 27px;
    margin-left: 6px;  
} 

.menu_item>a:hover {
   color: grey;
}
.submenu_item>a:link {
    color: #5E5757
}

.submenu_item>a:hover {
  color: grey;
}

.submenu {
  display: none;
  position: absolute;
  list-style: none;
  border-radius: 5px;
  color: grey;
  bottom: 15px;
  width: 65px;
  height: 85px;
  left: 104px;
}

.submenu a {
    font-size: 20px;
}


.menu_item:hover>.submenu {
  display: block;
  background: #FFFFFF;
}

.submenu_item {
  text-align: center;
}
.submenu::after, .submenu::before {
    bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.submenu::after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FFFFFF;
	border-width: 3px;
	margin-left: -3px;
}
.submenu::before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #FFFFFF;
	border-width: 3px;
	margin-left: -3px;
}

main {
    background-color: white;
    height: 969px;
    display: flex;
}

.container-left{
    flex: 2.5;
    padding-left: 61px;
 }
.container-right{
    flex: 1;
}

.container-left, .container-right {
    padding-top: 48px;
}

.aside{
    height: 26%;
    width: 72%;
    border: 2px solid black;
}
.line {
    height: 1px;
    background-color: #dedbdb;
    margin: 47px 15px 0 3px;

}

.block_caption {
    margin-top: 55px;
    margin-bottom: 46px;
    text-transform: uppercase;
    color: #263555;
}

.block_date {
    width: 100%;
    height: 11%;
    margin-top: 7%;
    margin-bottom: 1%;
}
.date p:first-child {
    padding-top: 8px;
}

.date {
    text-align:center;
    background-color:#38afe5;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: white;
    font-size: 9px;
    font-family: Arial, sans-serif;  
    line-height: 0.9em;
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

.article_title p {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -1pt;
    color:#263555;
}
.poster {
    display: flex;
    justify-content: space-between;
    margin-right: 86px;
    padding-top: 2px;
    padding-left: 2px;
    font-size: 10px;
    color:#868f8f;
}

.article_col{
    height: 65%;
    width: 96%;
    margin-bottom: 16px;
}

.article_col img {
    display: block;
    float: left;
    margin-right: 20px;
}
.previously {
    margin-right: 51px;
    margin-bottom: 15px;
    color:#263555;
}
.blog_text {
    font-size: 10px;
    color: #4e5050;
}
.blog_text:last-child {
    margin-top: 23px;
}

form {
    display: block;
    transform: translateX(487%);
    margin: 2% 1%;  
    width: 9%;
}
.post_button {
    width:64px;
    height: 22px; 
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 12px;
}

.top_left, .bottom_left{
    height: 38%;
    margin-bottom: 17.5%;
}
.bottom_left {

}

.box1 p {
    margin-left: 3px;
}

 .container-right ul li {
    list-style-image: url(../img/arrow.png);
    margin-bottom: 16px;  
    margin-left: 21px;
    color: #263555;
}
.box2 .block_caption {
    margin-left:4px;
    margin-bottom: 47px;
}

.btn_home {
    transform: translateX(235px);
    position: fixed;
    top: 88%;
    left: 67%;
}
.btn_home::before {
    position: relative;
    content: url(../img/arrow_up.png);
    top: 11px;
}
.btn_home:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.btn_home a {
    line-height: 10px;
}

footer {
    height: 287px;
    width: 100%;
}

.prefooter{
    background-color: #30455b;
    height: 133px;
    display: flex;
}
.block {
    flex:1;
}



 


