@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Dorsa');

ul {
    list-style: none;
  
}

a, h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

body {
    background: url("../img/bg.png") no-repeat;
}

#wrapper {
    background-color: rgba(128, 128, 128, 0.747);
    margin: 0 auto;
    width: 1024px;
    height: 2000px;
}
header{
    border: 1px solid black;
    height: 12%;
    width: 100%;
}
#logo a{
    line-height: 139px;
    display: block;
    width:140px;
    height: 140px;  
    background-color: #ffffff;
    border-radius: 70px;
    font-family: 'Dorsa', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:#263555;
    font-size: 59px;
    margin-top: 50px;
    margin-left: 8px;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 86.5%;
    margin: 0 auto;
   
}

header li {
    display: block;
}

header li a{
    font-size: 29px;
    line-height: 231px;
    margin-left: 10px;
    margin-right: 5px;
   
}

main {
    border: 1px solid red;
    height: 1700px;
    display: flex;
}

.container-left{
    flex: 2.5;
    background-color: greenyellow;
    padding-left: 60px;
 }
.container-right{
    flex: 1;
    background-color: rgb(91, 148, 145);
}


.aside{
    height: 26%;
    width: 72%;
    background-color: greenyellow;
    border: 2px solid black;
}
.line {
    height: 1px;
    margin-left: 61px;
    margin-right: 61px;
    position: relative;
    background-color: #dedbdb;

}

.block_caption {
    margin-top: 99px;
    font-size: 16px;
    text-transform: uppercase;
    color: #263555;
}



