@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Dorsa');

ul {
    list-style: none;
}

a {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 29px;
    text-transform: uppercase;
    text-align: center; 
}

body {
    background: url("../img/bg.png") no-repeat;
}

#wrapper {
    background-color: rgba(128, 128, 128, 0.747);
    margin: 0 auto;
    width: 1024px;
    height: 2000px;
}
header{
    border: 1px solid black;
    height: 12%;
    width: 100%;
}
#logo a{
    line-height: 139px;
    display: block;
    width:140px;
    height: 140px;  
    background-color: #ffffff;
    border-radius: 70px;
    font-family: 'Dorsa', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:#263555;
    font-size: 59px;
    text-decoration: none;
    margin-top: 50px;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 86%;
    margin-left: 74px;
   
}

header li {
    margin-left: 3px;
}

header li a{
    line-height: 231px;

}


  
